/* src/components/user/UserProductsTable.css */

.product-image-thumbnail {
  width: 50px; /* Tamaño de la miniatura */
  height: 50px; /* Tamaño de la miniatura */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  border-radius: 50%; /* Hace que la imagen sea circular */
  border: 1px solid #ddd; /* Opcional: un borde suave */
  box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Opcional: una sombra sutil */
}

.action-button-group .btn {
  margin-right: 5px; /* Espacio entre los botones de acción */
}

/* src/components/user/UserProductsTable.css */

/* ... tus estilos existentes ... */

.product-description-cell {
  max-width: 250px; /* Ajusta este valor según el ancho deseado para la columna */
  white-space: nowrap; /* Evita que el texto se salte de línea */
  overflow: hidden;    /* Oculta el texto que excede el ancho máximo */
  text-overflow: ellipsis; /* Añade puntos suspensivos (...) al final del texto oculto */   
  position: relative; /* Necesario para que el tooltip de hover se posicione correctamente */
}
 